<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<main class="sidebar">
  <div class="logo">
    <mat-icon>video_label</mat-icon>
    Smart Storage Manager
  </div>

  <div class="divider"></div>

  <div class="sidebar-wrapper">
    <ul class="nav">
      <li *ngFor="let menuItem of menuItems" routerLinkActive #rla="routerLinkActive" [ngClass]="rla.isActive? (menuItem.children === null? 'active' : '') : ''" [routerLinkActiveOptions]="{exact: true}">
        <a [style.display]="menuItem.children === null? 'flex' : 'none'" [routerLink]="[menuItem.path]" [style.background-color]="rla.isActive? color : 'transparent'">
          <mat-icon>{{menuItem.icon}}</mat-icon>
          <span>{{menuItem.title}}</span>
        </a>
        <div [hidden]="menuItem.children === null" class="collapse-container">
          <a data-toggle="collapse" [href]="[menuItem.path]" style="padding: 0 15px;" [ngClass]="rla.isActive? 'parent-active' : ''" class="collapse-a collapsed">
            <i class="material-icons">{{menuItem.icon}}</i>
            <span>{{menuItem.title}}</span>
            <b class="caret"></b>
          </a>
          <div id="component" class="collapse" [id]="[menuItem.id]">
            <ul class="nav">
              <li *ngFor="let subItem of menuItem.children" routerLinkActive #subrla="routerLinkActive" [ngClass]="subrla.isActive? 'active' : ''">
                <a [routerLink]="[subItem.path]" [style.background-color]="subrla.isActive? color : 'transparent'" style="height: 43px;">
                  <span style="margin-left: 5px; width: 21px;">{{subItem.icon}}</span>
                  <span>{{subItem.title}}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <footer class="sidebar-footer">
    <button *ngIf="checkLogged(); else logoutButton;" color="accent" mat-fab (click)="logout()">Exit</button>
    <ng-template #logoutButton>
      <a class="ghost-button info-color" [routerLink]="['/login']">Login</a>
    </ng-template>
  </footer>
</main>
