    <!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
    -->
<div class="dropdown-menu timepicker" style="min-width: 0; width: auto">
  <table height="100%">
    <thead>
    <tr class="text-center">
      <th>
        <button tabindex="-1" type="button" class="btn btn-sm btn-default btn-no-radius pull-left"
                ng-click="$arrowAction(1, 0)"><i class="glyphicon glyphicon-triangle-top"></i></button>
      </th>
      <th> &nbsp;</th>
      <th>
        <button tabindex="-1" type="button" class="btn btn-sm btn-default btn-no-radius pull-left"
                ng-click="$arrowAction(1, 1)"><i class="glyphicon glyphicon-triangle-top"></i></button>
      </th>
      <th> &nbsp;</th>
      <th>
        <button ng-if="showSeconds" tabindex="-1" type="button" class="btn btn-sm btn-default btn-no-radius pull-left"
                ng-click="$arrowAction(1, 2)"><i class="glyphicon glyphicon-triangle-top"></i></button>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(i, row) in rows">
      <td class="text-center">
        <button tabindex="-1" style="width: 100%" type="button" class="btn btn-sm btn-default btn-no-radius"
                ng-class="{'btn-primary': row[0].selected}" ng-click="$select(row[0].date, 0)"
                ng-disabled="row[0].disabled"><span ng-class="{'text-muted': row[0].muted}"
                                                    ng-bind="row[0].label"></span></button>
      </td>
      <td><span class="time-separator" ng-bind="i == midIndex ? timeSeparator : ' '"></span></td>
      <td class="text-center">
        <button tabindex="-1" ng-if="row[1].date" style="width: 100%" type="button"
                class="btn btn-sm btn-default btn-no-radius" ng-class="{'btn-primary': row[1].selected}"
                ng-click="$select(row[1].date, 1)" ng-disabled="row[1].disabled"><span
          ng-class="{'text-muted': row[1].muted}" ng-bind="row[1].label"></span></button>
      </td>
      <td><span class="time-separator" ng-bind="i == midIndex ? timeSeparator : ' '"></span></td>
      <td class="text-center">
        <button tabindex="-1" ng-if="showSeconds && row[2].date" style="width: 100%" type="button"
                class="btn btn-sm btn-default btn-no-radius" ng-class="{'btn-primary': row[2].selected}"
                ng-click="$select(row[2].date, 2)" ng-disabled="row[2].disabled"><span
          ng-class="{'text-muted': row[2].muted}" ng-bind="row[2].label"></span></button>
      </td>
      <td ng-if="showAM"> &nbsp;</td>
      <td ng-if="showAM">
        <button tabindex="-1" ng-show="i == midIndex - !isAM * 1" style="width: 100%" type="button"
                ng-class="{'btn-primary': !!isAM}" class="btn btn-default" ng-click="$switchMeridian()"
                ng-disabled="el.disabled">AM
        </button>
        <button tabindex="-1" ng-show="i == midIndex + 1 - !isAM * 1" style="width: 100%" type="button"
                ng-class="{'btn-primary': !isAM}" class="btn btn-default" ng-click="$switchMeridian()"
                ng-disabled="el.disabled">PM
        </button>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr class="text-center">
      <th>
        <button tabindex="-1" type="button" class="btn btn-sm btn-default btn-no-radius pull-left"
                ng-click="$arrowAction(-1, 0)"><i class="glyphicon glyphicon-triangle-bottom"></i></button>
      </th>
      <th> &nbsp;</th>
      <th>
        <button tabindex="-1" type="button" class="btn btn-sm btn-default btn-no-radius pull-left"
                ng-click="$arrowAction(-1, 1)"><i class="glyphicon glyphicon-triangle-bottom"></i></button>
      </th>
      <th> &nbsp;</th>
      <th>
        <button ng-if="showSeconds" tabindex="-1" type="button" class="btn btn-sm btn-default btn-no-radius pull-left"
                ng-click="$arrowAction(-1, 2)"><i class="glyphicon glyphicon-triangle-bottom"></i></button>
      </th>
    </tr>
    </tfoot>
  </table>
</div>
