<main class="login-page">
  <h5 class="welcome-title">Login to Smart Storage Management</h5>
  <div class="login-container">
    <div class="login-form">
      <div class="card-header">
        <h4>Login</h4>
      </div>
      <p class="tip">Or Be Classical</p>
      <div class="card-form">
        <div class="form-row">
          <i class="material-icons">face</i>
          <mat-input-container color="accent">
            <input type="text" matInput placeholder="First Name"/>
          </mat-input-container>
        </div>
        <div class="form-row">
          <i class="material-icons">lock_outline</i>
          <mat-input-container color="accent">
            <input type="password" matInput placeholder="Password"/>
          </mat-input-container>
        </div>
      </div>
      <div class="card-footer">
        <button mat-button (click)="loginBtn()">LET'S GO</button>
      </div>
    </div>
  </div>
</main>
