<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->
<style type="text/css">
  table{ table-layout: fixed;}

  .bk { 
    white-space: nowrap; 
    overflow:hidden; 
    text-overflow:ellipsis; 
  }

  .tooltiptext {
    visibility: hidden;
    color: #fff;
    position:fixed;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    opacity: 0;
    transition: opacity 1s;
  }

  .bk:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .aid{ width: 6px;}
  .action_name{ width: 150px;}
  .create_time{ width: 50px;}
  .finish_time{ width: 50px;}
  .running_time{ width: 50px;}
  .host{ width: 100px;}
  .status{ width: 30px;}
  .progress{ width: 50px;}
  .actions{ width: 15px;}
</style>

<!-- The form -->
<div align="right">
  <input id="search" type="text" float="left" placeholder="Search.." name="search"\>
  <button id="searchBtn" type="submit" value="Submit" ng-click="getContent()">search</button>
</div>
<div class="col-md-12" onmousemove="getPosition(event)" onmouseout="clearCoor()">
  <br/>
  <table class="table table-bordered">
    <thead ng-show="totalNumber > 0">
    <tr>
      <th ng-click="defindOrderBy('aid')" class="aid">ID</th>
      <th ng-click="defindOrderBy('action_name')" class="action_name">Name</th>
      <th class="host">Host</th>
      <th ng-click="defindOrderBy('create_time')" class="create_time">Create Time</th>
      <th ng-click="defindOrderBy('finish_time')" class="finish_time">Finish Time</th>
      <th ng-click="defindOrderBy('running_time')" class="running_time">Running Time</th>
      <th ng-click="defindOrderBy('successful')" class="status">Status</th>
      <th ng-click="defindOrderBy('progress')" class="progress">Progress</th>
      <th class="actions">Actions</th>
    </tr>
    </thead>
    <thead ng-if="totalNumber < 1">
    <tr>
      <th colspan="3" class="text-center active">
        <div class="table-no-data" style="width: 100%;">
          <h2 class="glyphicon glyphicon-bullhorn"></h2>
          <h4>No action is running</h4>

          <p>Please submit a action first.</p>
        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="action in actions">
      <td>{{action.actionId}}</td>
      <td class="bk">{{action.actionName}}<span ng-if="action.actionName.length > 74" class="tooltiptext bg-primary">{{action.actionName}}</span></td>
      <td class="bk">{{action.execHost}}</td>
      <td>{{action.createTime}}</td>
      <td>{{action.finishTime}}</td>
      <td>{{action.finished ? action.runTime : "-"}}ms</td>
      <td>{{action.finished ? action.successful ? "Successful" : "Failed" : "-"}}</td>
      <td>
        <div style="width: 100%"><span class="small pull-left"></span>
          <span class="small pull-right" ng-bind="action.progress + '%'"></span>
        </div>
        <div style="clear: both; height: 1px"></div>
        <div style="width: 100%" class="progress progress-tiny">
          <div ng-style="{'width': action.progress + '%'}"
               class="progress-bar progress-bar-{{action.progressColor}}"></div>
        </div>
      </td>
      <td>
        <a type="button" class="btn btn-default btn-xs btn-info"
           href="#/actions/action/{{action.actionId}}" ng-attr-bs-tooltip="tooltip">
          <span class="glyphicon glyphicon-info-sign"></span>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="col-md-12" ng-show="totalNumber > 0">
  <div class="page-list" style="float: left;">
    <strong>Total Number:</strong>
    {{totalNumber}}
  </div>
  <div class="btn-group" role="group" style="float: right;">
    <button type="button" class="btn btn-default" ng-click="gotoPage(1)">First</button>
    <button type="button" class="btn btn-default" ng-show="currentPage > 1"
            ng-click="gotoPage(currentPage - 1)">&laquo;</button>
    <button type="button" class="btn btn-default" disabled>{{currentPage}}</button>
    <button type="button" class="btn btn-default"
            ng-repeat="i in [1, 2, 3, 4, 5]"
            ng-show="currentPage + i <= totalPage" ng-click="gotoPage(currentPage + i)">
      {{currentPage + i}}
    </button>
    <button type="button" class="btn btn-default"
            ng-show="currentPage < totalPage"
            ng-click="gotoPage(currentPage + 1)">
      <span>&raquo;</span>
    </button>
    <button type="button" class="btn btn-default" ng-click="gotoPage(totalPage)">Last</button>
  </div>
</div>

<script>
function getPosition(e) {
  var x = e.clientX,
      y = e.clientY;
  var coor = "Coordinates: (" + x + "," + y + ")";
  var tips = document.getElementsByClassName("tooltiptext");
  
  for (i=0 ; i<tips.length; i++) {
    setPosition(tips[i], x, y);
  }
}

function setPosition(ele, x, y) {
  ele.style.top = (y + 20) + 'px';
  ele.style.left = (x + 20) + 'px';
}
</script>
