/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


.ghost-button {
  position: relative;
  padding: 10px 50px;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    border: 2px solid;
    border-right-color: transparent;
    border-bottom-color: transparent;
    width: 40%;
    height: 70%;
    content: "";
    transition: all 0.5s ease;
  }

  &:after {
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
    border: 2px solid;
    border-left-color: transparent;
    border-top-color: transparent;
    width: 40%;
    height: 70%;
    content: "";
    transition: all 0.5s ease;
  }

  &:hover {

    &:before {
      width: 100%;
      height: 100%;
    }

    &:after {
      width: 100%;
      height: 100%;
    }
  }
}
