/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~material-design-icons/iconfont/material-icons.css';
@import 'assets/css/base/color';
@import './assets/css/ghost-button';

* {
  box-sizing: border-box;
}

.primary-color {
  color: $brand-primary;
}

.success-color {
  color: $brand-success;
}

.info-color {
  color: $brand-info;
}

.warning-color {
  color: $brand-warning;
}

.danger-color {
  color: $brand-danger;
}

.white-color {
  color: $brand-white;
}

.gray-color {
  color: $brand-gray;
}

.dark-color {
  color: $brand-dark;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p, a, b, button, label, small {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, monospace;
  font-weight: 300;
  margin: 0;
}

h1 {
  font-size: 3.8em;
}

h2 {
  font-size: 2.6em;
}

h3 {
  font-size: 1.825em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.25em;
  line-height: 1.5em;
}

h6 {
  font-size: 1em;
  text-transform: uppercase;
}

a {
  color: $brand-white;
  font-weight: 400;
  display: inline-block;
  text-decoration: none;

  &:hover {
    color: $brand-info;
    text-decoration: none;
  }
}

.app-main {
  padding: 15px;
}

.ace_gutter {
  border: none !important;
  background: none !important;
}

.ssm-content {
  padding: 20px;
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  height: 100%;

  .ssm-content-header {
    position: absolute;
    text-align: center;
    background-color: #007aff;
    box-shadow: 0 7px 10px -5px #777;
    color: #fff;
    border-radius: 3px;
    padding: 15px;
    top: -23px;

    i {
      font-size: 24px;
      width: 33px;
      height: 33px;
      line-height: 33px;
      color: #fff;
    }
  }

  .ssm-content-content {
    position: relative;
    margin-top: 10px;
  }

  .ssm-content-title {
    padding-left: 80px;
  }
}

.divider {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: $brand-white;
}
