<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->


<main class="login-page">
  <h3 class="welcome-title">Smart Storage Management</h3>
  <div class="login-container">
    <div class="login-form">
      <div class="card-header">
        <h4>Login</h4>
      </div>
      <p class="tip">Or Be Classical</p>
      <div class="card-form">
        <div class="form-row">
          <label>User:</label>
          <mat-input-container>
            <input type="text" matInput placeholder="Name"/>
          </mat-input-container>
        </div>
        <div class="form-row">
          <label>Name:</label>
          <mat-input-container>
            <input type="password" matInput placeholder="Password"/>
          </mat-input-container>
        </div>
      </div>
      <div class="card-footer">
        <button mat-button (click)="loginBtn()">LET'S GO</button>
      </div>
    </div>
  </div>
</main>
